@charset "utf-8";
/* CSS Document */
body{ background:url(bg.gif) repeat 0 0;}
#div1{ width:440px; height:380px; background:#99CC00; margin:0 auto; margin-top:40px;}
#top{ padding-top:30px; padding-left:65px; border-bottom:1px solid #ccc;}
#div1 strong{ color:#009900;}
.bt1{ cursor:pointer;}
